:host {
  .card {
    background: white;
    border-radius: 12px;
    padding: 20px;

    height: 90px;
    width: 180px;

    transition: transform 0.2s;

    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &.selected {
      outline: yellow solid 2px;
      outline-offset: 2px;
    }

    .symbols {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      gap: 12px;
      height: 100%;

      .symbol {
        position: relative;
        flex-basis: 40px;
        box-sizing: border-box;

        svg {
          overflow: visible;
          position: absolute;
          height: 100%;
          width: 100%;

          g {
            .fill {
              stroke: none;
            }
            .outline {
              fill: none;
            }
          }
        }
      }
    }
  }
}
